<configuration>
    <!-- Указываем уровень логирования по умолчанию -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Логирование для всех сообщений -->
    <logger name="BDD.StepsLogger" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="automation.utils.DefaultLogger" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- Консольный аппендер с красивым форматированием -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
